.listenButton {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 3em;
  padding: .6em;
  margin-top: 2%;
  font-size: 1em;
  color: #6d6d6d;
  cursor: $themeClickableCursor;
  border-radius: $themeBorderRadius;
    a{
      text-decoration: none;
      font-family: $themeFont;
      font-weight: $themeFontWeight;
      color: #6d6d6d;
    }
}
.recButton {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 3em;
  padding: .6em;
  margin-top: 2%;
  font-size: 1em;
  cursor: $themeClickableCursor;
  border-radius: $themeBorderRadius;
    a {
      text-decoration: none;
      font-family: $themeFont;
      font-weight: $themeFontWeight;
      color: #6d6d6d;
    }
}

.recButton:hover{
  @include buttonHoverStyle();
}

.listenButton:hover{
  @include buttonHoverStyle();
}

.albumDetailWrapper{
  margin: auto;
  text-align: center;
  .albumText{
    color: $themeFontLightest;
    font-family: $themeFont;
    font-weight: $themeFontWeight;
    font-size: 1.5em;
  }
  .artistText{
    color: $themeFontLightest;
    font-family: $themeFont;
    font-weight: $themeFontWeight;
    font-size: 1.2em;
  }

}
.albumCoverDetail{
  margin: auto;
}

.buttonWrapper{
  text-align: center;
  padding-bottom: 2em;
}

.albumPop{
  position: absolute;
  top: 15%;
  right: 30%;
  left: 30%;
  width:40%;
  @include boxShadow();
  background-color: black;
  opacity: 0.9;
}

.closeButton{
  background-color: transparent;
  height: 2em;
  padding: .3em;
  margin-bottom: 2em;
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  display: block;
  font-size: 1em;
  color: $themeFontLightest;
  margin-left: 95%;
  cursor: $themeClickableCursor;
  border: none;
}

@media screen and (max-width: $bp-large){
  .albumPop{
    top: 15%;
  }
  .albumCoverDetail{
    height:250px;
  }
  .albumDetailWrapper{
    .albumText{
      font-size: 1.3em;
    }
    .artistText{
      font-size: 1em;
    }
  }
  .listenButton{
    font-size: 0.8em;
  }
  .recButton{
    font-size: 0.8em;
  }
}

@media screen and (max-width: $bp-medium){
  .albumPop{
    top: 25%;
    width: 50%
  }
  .albumCoverDetail{
    height:200px;
  }
}

@media screen and (max-width: $bp-medium2){
  .albumPop{
    top: 5%;
    width: 70%;
    left:15%;
    right: 15%;
  }
  .albumDetailWrapper{
    .albumText{
      font-size: 1em;
    }
    .artistText{
      font-size: .8em;
    }
  }
}

@media screen and (max-width: $bp-small){
  .albumPop{
    width:80%;
    left: 10%;
    right: 10%;
    top: 21%; 
  }
  .closeButton{
    margin-left: 93%;
    font-size: 0.8em;
  }
}
