.listenButton {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 50px;
  padding: 10px;
  // margin: 0 auto;
  margin-top: 2%;
  font-size: 1em;
  color: #6d6d6d;
  cursor: $themeClickableCursor;
  border-radius: 5px;
  outline: none;
    a{
      text-decoration: none;
      text-decoration: none;
      font-family: $themeFont;
      font-weight: $themeFontWeight;
      color: #6d6d6d;
    }
}
.recButton {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 50px;
  padding: 10px;
  // margin: 0 auto;
  margin-top: 2%;
  font-size: 1em;
  cursor: $themeClickableCursor;
  border-radius: 5px;
  outline: none;
    a {
      text-decoration: none;
      font-family: $themeFont;
      font-weight: $themeFontWeight;
      color: #6d6d6d;
    }
}

.recButton:hover{
  opacity: 1;
}

.listenButton:hover{
  opacity:1;
}

.albumDetailWrapper{
  width: 75%;
  margin: auto;
  margin-top: 10%;
  display: block;
  position: relative;
  text-align: center;
  .albumText{
    color: $themeFontLightest;
    font-family: $themeFont;
    font-weight: $themeFontWeight;
    font-size: 1.5em;
  }
  .artistText{
    color: $themeFontLightest;
    font-family: $themeFont;
    font-weight: $themeFontWeight;
    font-size: 1.2em;
  }

}
.albumCoverDetail{
  margin: auto;
  display: block;
}

.buttonWrapper{
  display: block;
  width:75%;
  margin: auto;
  position: relative;
  text-align: center;
}
