.listenButton {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  display: block;
  margin-top: 2%;
  font-size: 1em;
  color: #6d6d6d;
  cursor: $themeClickableCursor;
  border-radius: 5px;
  outline: none;
}
.recButton {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  display: block;
  margin-top: 2%;
  font-size: 1em;
  color: #6d6d6d;
  cursor: $themeClickableCursor;
  border-radius: 5px;
  outline: none;
}
