body {
  background-image: url("http://i.imgur.com/YafrLLw.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

h1 {
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  font-style: italic;
  color: $themeFontLightest;
  opacity: 0.5;
}

p{
  color: white; 
}
