html {
  background: url("/images/fpBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover; /* Safari and Chrome */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */
  background-size: cover;
}

h1 {
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  font-style: italic;
  color: $themeFontLightest;
  opacity: 0.5;
}

.main-section{
  display:flex;
  justify-content: center;
  align-items: center;
}

.err-msg{
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  color: red;
}
