.login_button {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 3em;
  padding: .8em;
  margin: 0 auto;
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  display: block;
  margin-top: 2%;
  font-size: 1em;
  color: #6d6d6d;
  cursor: $themeClickableCursor;
  border-radius: .4em;
  outline: none;
}

.login_button:hover {
  @include buttonHoverStyle();
}

.homeLogo {
  display: block;
  height: 9em;
  opacity: 0.7;
}

// @media screen and (max-width: $bp-large){
//
// }
