.nrWrapper{
  @include wrapperWidth;
}
.scrollWrapper {
		@include boxShadow();
		border-radius: 5px;
    padding-top: 7px;
	}
	.scrollbar {
		overflow: auto;
		height: 24em;
    white-space:nowrap
	}
  .albumArt {
    @include horizontalList();
    cursor: $themeClickableCursor;
  }
	.albumCoverImg {
		@include boxShadow();
    margin-top: 20px;
		margin-bottom:2px;
    margin-right: 10px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
	}

.albumArt:hover img{
  -webkit-transform:scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
}

@media screen and (max-width: $bp-large){
  .albumCoverImg{
    height: 250px;
  }
  .scrollbar{
    height: 21em;
  }
}

@media screen and (max-width: $bp-medium2){
  .albumArt{
    clear:left;
    display:block;
    text-align: center;
  }
  .albumCoverImg{
    margin-right: auto;
  }
}
