.titleWrapper{
  @include wrapperWidth();
  margin: auto;
  position: relative;
  margin-top: 10%
}
.scrollWrapper {
		@include boxShadow();
    @include wrapperWidth();
		margin: auto;
		text-align: center;
		position: relative;
		border-radius: 5px;
		padding-top: 30px;
	}
	.scrollbar {
		overflow: auto;
		height: 380px;
    white-space:nowrap
	}
  li {
    @include horizontalList();
    cursor: $themeClickableCursor;
  }
	.albumCoverImg {
		@include boxShadow();
    margin-top: 20px;
		margin-bottom:2px;
    margin-right: 10px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
	}

.albumArt:hover img{
  -webkit-transform:scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
}
