.recArtists{
  @include wrapperWidth;
}
.recContainer{
  @include boxShadow();
  text-align: center;
  max-height: 34em;
  overflow: auto;
}
.backButton {
  @include boxShadow();
  background-color: transparent;
  opacity: 0.7;
  height: 3em;
  padding: .8em;
  margin: 0 auto;
  font-family: $themeFont;
  font-weight: $themeFontWeight;
  display: block;
  margin-top: 2%;
  font-size: 1em;
  color: #6d6d6d;
  cursor: $themeClickableCursor;
  border-radius: .4em;
  outline: none;
  margin-bottom: 5%;
}
.backButton:hover{
  @include buttonHoverStyle();
}
.recArtistList{
  list-style: none;
  padding: 0;
  text-align: center;
  li{
    display: inline-block;
    position: relative;
    margin: 10px;
    @include square(150px);
    background-size:cover;
    background-repeat:no-repeat;
    @include boxShadow();

    &:hover a {
      display: block;
    }
  }
  a {
    display: none;
    @include square(150px);
    box-sizing: border-box;
    text-decoration: none;
    padding-top: 1em;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    color: $themeFontLightest;
    font-family: $themeFont;
    font-weight: $themeFontWeight;
    position: absolute;
    top: 0;
    left: 0;
  }
}


@media screen and (max-width: $bp-medium){
  .recContainer{
    max-height: 28em; 
  }
}
@media screen and (max-width: $bp-medium2){
 .recArtistList{
   li{
     @include square(100px);
   }
   a{
     @include square(100px);
   }
 }
 .recArtists{
   h1{
     font-size: 1.5em;
   }
 }
 .backButton{
   font-size: .8em;
 }
 .recContainer{
   max-height: 24em;
 }
}
@media screen and (max-width: $bp-small){
  .recArtistList {
    li{
      @include square(75px);
    }
    a{
      @include square(75px);
    }
  }
  .backButton{
    font-size: .7em;
  }
  .recArtists{
    h1{
      font-size: 1.2em;
    }
  }
  .recContainer{
    max-height: 20em;
  }
}
