.recContainer{
  @include wrapperWidth();
  @include boxShadow();
  margin: auto;
  text-align: center;
}

.recImgWrapper{
  @include boxShadow();
  height: 150px;
  width: 150px;
  background-size:cover;
  background-repeat:no-repeat;
  margin: 10px;
}
